@font-face {
    font-family: "iconfont";
    src: url('./milky-term-j-heavy.ttf');
}

.iconfont {
    font-family: "iconfont";
    font-size: 24px;

}

.icon-linggan::before {
    content: '\602';
}

.lg-icon {
    color: red;
    font-size: 40px;
}